# macOS
.DS_Store
*/.DS_Store

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android/iOS specifici
test/*.apk
*.uploaded
serviceAccountKey.json
serviceAccountKey.json
